<%- model_class = Training -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<% provide(:minor_title, 'list of trainings') %>
<div class="portlet box green">
  <div class="portlet-title">
	<div class="caption">
	  <i class="fa fa-cogs"></i><%= yield(:title) %> Table
	</div>
	<div class="tools">
	  <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
	  <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""></a>
	  <a href="javascript:;" class="reload" data-original-title="" title=""></a>
	  <!--<a href="javascript:;" class="remove" data-original-title="" title=""></a>-->
	</div>
  </div>
  <div class="portlet-body">
      <div class="btn-group">
      <%= link_to(new_training_path, :class => 'btn green' ) do %>
          <span><i class="fa fa-plus"></i></span>
          <%= t('.new', :default => t("helpers.links.new")) %>
      <% end %>
      </div>
	<div class="table-scrollable">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:participants) %></th>
      <th><%= model_class.human_attribute_name(:program) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:fees) %></th>
      <th><%= model_class.human_attribute_name(:fees_paid) %></th>
      <th><%= model_class.human_attribute_name(:fees_balance) %></th>
      <th><%= model_class.human_attribute_name(:program_venue) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.id %></td>
        <td style="white-space:nowrap;"><ol style="padding-left: 20px; list-style: decimal outside;">
            <% training.participants.each do |participant| %>
              <li><%= link_to (participant.name + " " + participant.other_names), participant_path(participant) %></li>
            <% end %>    
        </ol></td>
        <td><%= link_to training_title(training), program_path(training.program) %></td>
        <td><%= training.start_date.strftime("%B %d, %Y") %></td>
        <td><%= training.end_date.strftime("%B %d, %Y") %></td>
        <td><%= training.fees %></td>
        <td><%= training.fees_paid %></td>
        <td><%= training.fees_balance %></td>
        <td><%= training.program_venue.name %></td>
        <td style="white-space:nowrap;">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_training_path(training), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      training_path(training),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
	</div>
    <div class="btn-group pull-right">
        <%= will_paginate :previous_label => '<i class="fa fa-angle-left"></i>', :next_label => '<i class="fa fa-angle-right"></i>' %>
    </div>
  </div>
</div>
