- model_class = SupplyItemCategory
.table-scrollable
  %table.table.table-hover
    %thead
      %tr
        %th= smart_listing.sortable model_class.human_attribute_name(:name), :name
        %th{colspan: 2}= model_class.human_attribute_name(:created_at)
    %tbody
      - smart_listing.collection.each do |supply_item_category|
        %tr.editable{data: {id: supply_item_category.id}}
          = smart_listing.render object: supply_item_category, partial: 'supply_item_categories/supply_item_category', locals: {object: supply_item_category}
      = smart_listing.item_new colspan: 3, link: new_supply_item_category_path

= smart_listing.paginate
= smart_listing.pagination_per_page_links