<%= form_for @user, :html => { :class => "form-horizontal program", multipart: true } do |f| %>
        <div class="form-body">
            <% if ["new", "create"].include?(action_name)%>
            <%= render partial: 'stepnav', object: @steps = [:Login, :Personal, :General, :Contact, :Bank] %>
            <div class="tab-content">
            <% end %>
            <% if @user.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                        <li>
                            <%= msg %>
                        </li><% end %>
                    </ul>
                </div>
            </div>
            <% end %>
            <div class="tab-pane active" id="tab1">
                <h3 class="block">Provide New User Login Details</h3>
            <div class="form-group">
                <%= f.label :name, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :name, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :email, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :email, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :password, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :password, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :password_confirmation, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :password_confirmation, :class => 'form-control' %>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <%= f.label :roles, :class => 'col-md-3 control-label' %>
                <div class="col-md-3">
                  <% for role in User::ROLES %>
                      <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"} %>
                      <%= label_tag "user_roles_#{role}", role.to_s.humanize %><br />
                  <% end %>
                  <%= hidden_field_tag "user[roles][]", "" %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :admin, :class => 'col-md-3 control-label' %>
                <div class="col-md-1">
                    <%= f.check_box :admin, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :is_staff, :class => 'col-md-3 control-label' %>
                <div class="col-md-1">
                    <%= f.check_box :is_staff, :class => 'form-control' %>
                </div>
            </div>           
        </div>
        <% if ["new", "create"].include?(action_name) %>
        <div class="tab-pane" id="tab2">
            <h3 class="block">Provide Employee Personal Details</h3>
            <%= render partial: 'profile_form', object: @f = f %>
        </div>
        
        <div class="tab-pane" id="tab3">
            <h3 class="block">Provide Employee General Details </h3>
            <%= render partial: 'profile_form', object: @f = f %>
        </div>
        
        <div class="tab-pane" id="tab4">
            <h3 class="block">Provide Employee Contact Details </h3>
            <%= render partial: 'profile_form', object: @f = f %>
        </div>
        
        <div class="tab-pane" id="tab5">
            <h3 class="block">Provide Employee Bank Details </h3>
            <%= render partial: 'profile_form', object: @f = f %>
        </div>
        <% end %>           
            <!-- BEGIN FORM ACTIONS -->
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <!--<%= f.submit nil, :class => 'btn green', width: '20em' %>-->
                        <%= link_to t('.Create', :default => t("helpers.links.create")), '#', 
                                        :onclick => "$(this).closest('form').submit()", 
                                        :class => 'btn green' %><%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                                        users_path, :class => 'btn default' %>
                    </div>
                </div>
            </div><!-- END FORM ACTIONS -->
            <% end %>
        </div>
    <% if ["new", "create"].include?(action_name)%>
    </div>
    <% end %>