- model_class = ExpenseCategory
.table-scrollable
  %table.table.table-hover
    %thead
      %tr
        %th= smart_listing.sortable model_class.human_attribute_name(:name), :name
        %th{colspan: 2}= model_class.human_attribute_name(:created_at)
    %tbody
      - smart_listing.collection.each do |expense_category|
        %tr.editable{data: {id: expense_category.id}}
          = smart_listing.render object: expense_category, partial: 'expense_categories/expense_category', locals: {object: expense_category}
      = smart_listing.item_new colspan: 3, link: new_expense_category_path

= smart_listing.paginate
= smart_listing.pagination_per_page_links