                            <div class="form-group">   
                            <%= @f.fields_for :programdates do |programdates_form| %>
                            <% if programdates_form.index == 0 %>
                            <%= programdates_form.label :dates, :class => 'col-md-3 control-label' %>
                            <div class="col-md-9">
                                <% end %>
                                <div class="input-inline">
                                    <div class="input-group">
                                    <%= programdates_form.text_field :start_date, :class => 'form-control datepicker', :placeholder => 'Start Date' %>
                                        <span class="input-group-addon">
                                        	<i class="fa fa-calendar"></i>
                                        </span>
                                        <%= programdates_form.text_field :end_date, :class => 'form-control datepicker', :placeholder => 'End Date' %>
                                        <span class="input-group-addon">
                                        	<i class="fa fa-calendar"></i>
                                        </span>
                                    </div></div><br /><br />
                                 <% if programdates_form.index == @program.programdates.count-1 %>   
                                </div>
                                <% end %>
                                <% end %>
                            </div>
                            
                            <div class="form-group">   
                            <%= @f.fields_for :programvenues do |programvenues_form| %>
                            <% if programvenues_form.index == 0 %>
                            <%= programvenues_form.label :venues, :class => 'col-md-3 control-label' %>
                            <div class="col-md-9">
                                <% end %>
                                <div class="input-inline">
                                    <div class="input-group">
                                        <%= programvenues_form.text_field :name, :class => 'form-control', :placeholder => 'Name' %>
                                        <span class="input-group-addon">
                                        	<i class="fa fa-map-marker"></i>
                                        </span>
                                        <%= programvenues_form.select :country_id, 
                                        options_from_collection_for_select(Country.all, :id, :name, @program.programvenues[programvenues_form.index].country_id), {}, { :class => 'form-control' } %>
                                    </div></div><br /><br />
                                 <% if programvenues_form.index == @program.programvenues.count-1 %>   
                                </div>
                                <% end %>
                                <% end %>
                            </div>