<%= form_for @participant, :html => { :class => "form-horizontal program", :multipart => true } do |f| %>
        <div class="form-body">
            <% if @participant.errors.any? %>
            <div id="error_expl" class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= pluralize(@participant.errors.count, "error") %> prohibited this program from being saved:
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <% @participant.errors.full_messages.each do |msg| %>
                        <li>
                            <%= msg %>
                        </li><% end %>
                    </ul>
                </div>
            </div>
            <% end %>
            <div class="tab-pane active" id="tab1">
                <h3 class="block">Provide Participant Details</h3>
            <div class="form-group">
                <%= f.label :name, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :name, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :other_names, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :other_names, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label t(:sex), :class => 'col-md-3 control-label' %>
                <div class="col-md-3">
                    <%= f.select :sex, Participant::GENDER_TYPES, {}, { :class => 'form-control' } %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label t(:passport_no), :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :passport_no, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :job_title, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.text_field :job_title, :class => 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :organisation_id, :class => 'col-md-3 control-label' %>
                <div class="col-md-9">
                    <%= f.select :organisation_id, options_from_collection_for_select(Organisation.all, :id, :name, @participant.organisation_id), {}, :class => 'form-control' %>
                </div>
            </div>
        </div>            
            <!-- BEGIN FORM ACTIONS -->
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <!--<%= f.submit nil, :class => 'btn green', width: '20em' %>-->
                        <%= link_to t('.Create', :default => t("helpers.links.create")), '#', 
                                        :onclick => "$(this).closest('form').submit()", 
                                        :class => 'btn green' %><%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                                        participants_path, :class => 'btn default' %>
                    </div>
                </div>
            </div><!-- END FORM ACTIONS -->
            <% end %>
        </div>
