<%- model_class = Participant -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<% provide(:minor_title, "#{@participant.name} #{@participant.other_names}") %>
    
    <div class="portlet light">
        <div class="portlet-body">
            <div class="col-md-12 blog-pane">
                <div class="article-block">
                <h3 style="margin-top: 0;"><%= "#{@participant.name} #{@participant.other_names}" %></h3>
                <p>
                  <strong>Name:</strong>
                  <%= @participant.name %>
                </p>

                <p>
                  <strong>Other names:</strong>
                  <%= @participant.other_names %>
                </p>

                <p>
                  <strong>Sex:</strong>
                  <%= @participant.sex %>
                </p>

                <p>
                  <strong>Passport no:</strong>
                  <%= @participant.passport_no %>
                </p>

                <p>
                  <strong>Job title:</strong>
                  <%= @participant.job_title %>
                </p>

                <p>
                  <strong>Organisation:</strong>
                  <%= @participant.organisation.name %>
                </p>
                        </div>
                    </div>

                <dl class="dl-horizontal">
                </dl>

                <%= link_to t('.back', :default => t("helpers.links.back")),
                              participants_path, :class => 'btn btn-default'  %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_participant_path(@participant), :class => 'btn btn-default' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              participant_path(@participant),
                              :method => 'delete',
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-danger' %>
            </div>
            </div>
