
        <%= @f.fields_for :profile_general_detail  do |general_fields| %>
        <div class="form-group">
            <%= general_fields.label :title, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_field :title, :class => 'form-control' %>
            </div><%= error_span(@user[:title]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :date_hired, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_field :date_hired, :class => 'form-control datepicker', :placeholder => 'Hiring date...' %>
            </div><%= error_span(@user[:date_hired]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :staff_id, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_field :staff_id, :class => 'form-control' %>
            </div><%= error_span(@user[:staff_id]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :education, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_area :education, :class => 'wysihtml5' %>
            </div><%= error_span(@user[:education]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :passport_number, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_field :passport_number, :class => 'form-control' %>
            </div><%= error_span(@user[:passport_number]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :drivers_licence, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_field :drivers_licence, :class => 'form-control' %>
            </div><%= error_span(@user[:drivers_licence]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :salary, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_field :salary, :class => 'form-control' %>
            </div><%= error_span(@user[:salary]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :NSSF_number, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.text_field :NSSF_number, :class => 'form-control' %>
            </div><%= error_span(@user[:NSSF_number]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :photo, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.file_field :photo, :class => 'form-control' %>
            </div><%= error_span(@user[:photo]) %>
        </div>
        <div class="form-group">
            <%= general_fields.label :cv, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
                <%= general_fields.file_field :cv, :class => 'form-control' %>
            </div><%= error_span(@user[:cv]) %>
        </div>
        <% end %>


            