= simple_form_for @user, :html => { :class => "form-horizontal", multipart: true }, wrapper: :horizontal_form , wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|
  .form-body
    = render partial: 'shared/stepnav', object: @steps = [:Login, :Personal, :General, :Contact, :Bank]
    .tab-content
      - if @user.errors.any?
        = f.error_notification

      #tab1.tab-pane.active
        %h3.block
          New User Login Details
        = f.input :name
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        = f.input :roles, collection: User::ROLES
        = f.input :is_staff, as: :boolean
        = f.input :admin, as: :boolean

      #tab2.tab-pane
        %h3.block
          Personal Details
        = render 'shared/profile_form', f: f, :section => 'personal'

      #tab3.tab-pane
        %h3.block
          General Details
        = render 'shared/profile_form', f: f, :section => 'general'

      #tab4.tab-pane
        %h3.block
          Contact Details
        = render 'shared/profile_form', f: f, :section => 'contact'

      #tab5.tab-pane
        %h3.block
          Bank Details
        = render 'shared/profile_form', f: f, :section => 'bank'

    = render partial: 'shared/save_actions', locals: {:object_path => users_path}