<%- model_class = User -%>
<% provide(:title, model_class.model_name.human.pluralize.titleize) %>
<% provide(:minor_title, 'list of users') %>

<div class="portlet box green">
  <div class="portlet-title">
	<div class="caption">
	  <i class="fa fa-cogs"></i></i><%= yield(:title) %> Table
	</div>
	<div class="tools">
	  <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
	  <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""></a>
	  <a href="javascript:;" class="reload" data-original-title="" title=""></a>
	  <!--<a href="javascript:;" class="remove" data-original-title="" title=""></a>-->
	</div>
  </div>
  <div class="portlet-body">
      <div class="btn-group">
      <%= link_to(new_user_path, :class => 'btn green' ) do %>
          <span><i class="fa fa-plus"></i></span>
          <%= t('.new', :default => t("helpers.links.new")) %>
      <% end %>
      </div>
	<div class="table-scrollable">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, edit_user_path(user) %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(user), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
	</div>
    <div class="btn-group pull-right">
        <%= will_paginate :previous_label => '<i class="fa fa-angle-left"></i>', :next_label => '<i class="fa fa-angle-right"></i>' %>
    </div>
  </div>
</div>