= f.simple_fields_for :profile_contact_detail do |contact_fields|
  = contact_fields.input :address
  = contact_fields.input :email_address
  = contact_fields.input :business_phone
  = contact_fields.input :mobile_phone
  = contact_fields.input :fax