<p id="notice"><%= notice %></p>

<h1>Listing Profile Contact Details</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Email address</th>
      <th>Business phone</th>
      <th>Mobile phone</th>
      <th>Home phone</th>
      <th>Fax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_contact_details.each do |profile_contact_detail| %>
      <tr>
        <td><%= profile_contact_detail.address %></td>
        <td><%= profile_contact_detail.email_address %></td>
        <td><%= profile_contact_detail.business_phone %></td>
        <td><%= profile_contact_detail.mobile_phone %></td>
        <td><%= profile_contact_detail.home_phone %></td>
        <td><%= profile_contact_detail.fax %></td>
        <td><%= link_to 'Show', profile_contact_detail %></td>
        <td><%= link_to 'Edit', edit_profile_contact_detail_path(profile_contact_detail) %></td>
        <td><%= link_to 'Destroy', profile_contact_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile contact detail', new_profile_contact_detail_path %>
