<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
<%= form_for(resource, :html => {:class => 'login-form', :id => 'login-form'}, as: resource_name, url: session_path(resource_name)) do |f| %>
		<h3 class="form-title">Sign In</h3>
  	      <% flash.each do |message_type, message| %>
  	  	    <div class="alert alert-<%= message_type %>">
    			<button class="close" data-close="alert"></button>
    			<span>
                <%= message %></span></div>
  	      <% end %>
  <div class="form-group">
    <%= f.label :email, class: 'control-label visible-ie8 visible-ie9' %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control form-control-solid placeholder-no-fix', placeholder: 'Email Address' %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'control-label visible-ie8 visible-ie9' %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control form-control-solid placeholder-no-fix', placeholder: 'Password' %>
  </div>
	<div class="form-actions">
		<button type="submit" class="btn btn-success uppercase">Login</button>
        <% if devise_mapping.rememberable? -%>
  	       <%= f.label :remember_me, class: 'rememberme check' do %>
           <div class="checker"><span><%= f.check_box :remember_me, cheked: true %></span></div>Remember 
  	    <% end %>
      <% end -%>
        <% # render "devise/shared/links" %>
		<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
	</div>
<div class="create-account">
	<p>&nbsp;</p>
</div>
<% end %>

	<!-- END LOGIN FORM -->
	<!-- BEGIN FORGOT PASSWORD FORM -->
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "forget-form", novalidate: :novalidate }) do |f| %>
      <%= devise_error_messages! %>
		<h3>Forget Password ?</h3>
		<p>
			 Enter your e-mail address below to reset your password.
		</p>
		<div class="form-group">
            <%= f.label :email, class: 'control-label visible-ie8 visible-ie9' %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "off", class: 'form-control form-control-solid placeholder-no-fix', placeholder: 'Email'  %>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn btn-default">Back</button>
			<button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
		</div>
	<% end %>
	<!-- END FORGOT PASSWORD FORM -->
</div>