%td= object.name
%td= object.asset_category
%td= object.country
%td= object.current_value
%td.actions{width:"120px;"}= smart_listing_item_actions [{name: :edit, url: edit_asset_path(object)},
{name: :destroy, url: asset_path(object), confirmation: "Are you sure you want to delete this item?"}]