%td{colspan: 5}
  = simple_form_for object, url: object.new_record? ? assets_path : asset_path(object),
                     remote: true,
                     :html => { :class => "form-horizontal", multipart: true }, wrapper: :horizontal_form , wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|

    = f.input :name
    = f.input :description
    = f.input :asset_category, collection: Asset::ASSET_CATEGORIES
    = f.association :country
    = f.input :current_value

    = f.submit "Save", class: "btn btn-primary pull-right", :disable_with => 'Please wait ...'
    %button.btn.btn-link.pull-right.cancel Cancel