%td= object.name
%td= object.c_code
%td= object.telephone_code
%td= object.created_at
%td.actions{width:"120px;"}= smart_listing_item_actions [{name: :edit, url: edit_country_path(object)},
 {name: :destroy, url: country_path(object), confirmation: "Are you sure you want to delete this item?"}]