<%= form_for @country, :html => { :class => "form-horizontal country", :role => "form" } do |f| %>
    
    <div class="form-body">
    <% if @country.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">
                <%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:
            </h3>
        </div>
        <div class="panel-body">
            <ul>
                <% @country.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
    <% end %>
    <div class="form-group">
        <%= f.label :name, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
            <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <%= error_span(@country[:name]) %>
    </div>
    <div class="form-group">
        <%= f.label :c_code, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
            <%= f.text_field :c_code, :class => 'form-control', :placeholder => 'e.g UG (... for Uganda)' %>
        </div>
        <%= error_span(@country[:c_code]) %>
    </div>
    <div class="form-group">
        <%= f.label :telephone_code, :class => 'col-md-3 control-label' %>
        <div class="col-md-9">
            <div class="input-group">
                <%= f.text_field :telephone_code, :class => 'form-control', :placeholder => 'e.g 254 (... for Uganda)' %>
            </div>
        </div>
        <%= error_span(@country[:telephone_code]) %>
    </div><!-- BEGIN FORM ACTIONS -->
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <!--<%= f.submit nil, :class => 'btn green', width: '20em' %>-->
                <%= link_to t('.Create', :default => t("helpers.links.create")), '#', 
                :onclick => "$(this).closest('form').submit()", :class => 'btn green' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                            countries_path, :class => 'btn default' %><% end %>
            </div>
        </div>
    </div><!-- END FORM ACTIONS -->
</div>
