- model_class = Category
.table-scrollable
  %table.table.table-hover
    %thead
      %tr
        %th= smart_listing.sortable model_class.human_attribute_name(:name), :name
        %th{colspan: 2}= model_class.human_attribute_name(:created_at)
    %tbody
      - smart_listing.collection.each do |category|
        %tr.editable{data: {id: category.id}}
          = smart_listing.render object: category, partial: 'categories/category', locals: {object: category}
      = smart_listing.item_new colspan: 3, link: new_category_path

= smart_listing.paginate
= smart_listing.pagination_per_page_links