    	<!-- BEGIN SIDEBAR -->
    	<div class="page-sidebar-wrapper">
    		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    		<div class="page-sidebar navbar-collapse collapse">
    			<!-- BEGIN SIDEBAR MENU -->
    			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li>
                    <%= link_to root_path do %>
					<i class="icon-home"></i>
					<span class="title">Dashboard</span>
                    <span class="arrow"></span>
					<% end %>
                </li>
    				<li>
    					<a href="javascript:;">
    					<i class="icon-basket"></i>
    					<span class="title">Sales</span>
    					<span class="arrow"></span>
    					</a>
    					<ul class="sub-menu">
							<li>
								<%= link_to opportunities_path do %>
								Opportunities</a>
                                <% end %>
							</li>
							<li>
								<%= link_to trainings_path do %>
								Trainings
                                <% end %>
							</li>
							<li>
								<%= link_to accounts_invoices_path do %>
								Invoices
                                <% end %>
							</li>
							<li>
								<a href="#">
								Expenses</a>
							</li>
							<li>
								<a href="#">
								Assets</a>
							</li>
							<li>
								<%= link_to programs_path do %>
								Programs List</a>
                                <% end %>
							</li>
							<li>
								<%= link_to participants_path do %>
								Customer List
                                <% end %>
							</li>
							<li>
								<a href="#">
								Supplier List</a>
							</li>
    					</ul>
    				</li>
    				<li>
    					<a href="javascript:;">
    					<i class="icon-briefcase"></i>
    					<span class="title">Purchases</span>
    					<span class="arrow"></span>
    					</a>
    					<ul class="sub-menu">
							<li>
								<a href="#">
								RFQs</a>
							</li>
							<li>
								<a href="#">
								Purchase Orders</a>
							</li>
    					</ul>
    				</li>
    				<li>
    					<a href="javascript:;">
    					<i class="icon-diamond"></i>
    					<span class="title">Marketing</span>
    					<span class="arrow "></span>
    					</a>
    					<ul class="sub-menu">
							<li>
								<a href="#">
								Mass Mailings</a>
							</li>
							<li>
								<a href="#">
								Mailing Lists</a>
							</li>
							<li>
								<a href="#">
								Marketing Events</a>
							</li>
    					</ul>
    				</li>
    				<li>
    					<a href="javascript:;">
    					<i class="icon-puzzle"></i>
    					<span class="title">Human Resources</span>
    					<span class="arrow "></span>
    					</a>
    					<ul class="sub-menu">
							<li>
								<%= link_to users_path do %>
								Employees List
                                <% end %>
							</li>
							<li>
								<a href="#">
								Contracts</a>
							</li>
							<li>
								<a href="#">
								Loans</a>
							</li>
							<li>
								<a href="#">
								Leave</a>
							</li>
    					</ul>
    				</li>
    				<li>
    					<a href="javascript:;">
    					<i class="icon-settings"></i>
    					<span class="title">Settings</span>
    					<span class="arrow "></span>
    					</a>
    					<ul class="sub-menu">
							<li>
								<%= link_to "Countries", countries_path %>
							</li>
							<li>
								<%= link_to "Users", users_path %>
							</li>
    					</ul>
    				</li>
    			</ul>
    			<!-- END SIDEBAR MENU -->
		</div>
	</div>