<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @accounts_invoice_item.description %>
</p>

<p>
  <strong>Units:</strong>
  <%= @accounts_invoice_item.units %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @accounts_invoice_item.unit_cost %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @accounts_invoice_item.subtotal %>
</p>

<%= link_to 'Edit', edit_accounts_invoice_item_path(@accounts_invoice_item) %> |
<%= link_to 'Back', accounts_invoice_items_path %>
